@model Team
@{
    ViewData["Title"] = "CreateTeam";
    Layout = "~/Areas/Admin/Views/AdminDefault/Index.cshtml";
}

<h1>Çalışan Ekleme</h1>

<form method="post">
    <label>Adı Soyadı</label>
    <input type="text" asp-for="NameSurname" class="form-control"/>
    <span asp-validation-for="NameSurname" class="text-danger"></span>
    <br />
    <label>Yaşı</label>
    <input type="text" asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
    <br />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <label>Resim Yolu</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <label>Branşı</label>
    <select asp-for="BranchId" asp-items="@ViewBag.v" class="form-control">
        <option>Branş Seçiniz</option>
    </select>
    <span asp-validation-for="BranchId" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>