@model Team
@{
    ViewData["Title"] = "UpdateTeam";
    Layout = "~/Areas/Admin/Views/AdminDefault/Index.cshtml";
}



<h1>Çalışan Güncelle</h1>

<form method="post">
    <label>Çalışan ID</label>
    <input type="hidden" asp-for="TeamId" class="form-control" readonly />
    <br />
    <label>Adı Soyadı</label>
    <br />
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Yaş</label>
    <input type="text" asp-for="Age" class="form-control" />
    <br />
    <label>Resim Yolu</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Branşı</label>
    <select asp-for="BranchId" asp-items="@ViewBag.v" class="form-control">
        <option>Branş Seçiniz</option>
    </select>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>