@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminDefault/Index.cshtml";
}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">BabyCare Dashboard Paneli</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="fas fa-award"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Personel Sayısı</p>
                                    <h4 class="card-title">@ViewBag.personelSayisi</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Öğrenci Sayısı</p>
                                    <h4 class="card-title">@ViewBag.ogrenciSayisi</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="fas fa-luggage-cart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Gelen Mesajlar</p>
                                    <h4 class="card-title">@ViewBag.mesajSayisi</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Referanslar</p>
                                    <h4 class="card-title">@ViewBag.referansSayisi</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @await Component.InvokeAsync("_AdminDashboardEventComponentPartial")

       @await Component.InvokeAsync("_AdminDashboardTestimonialComponentPartial")
        
       <div class="row">
            <div class="col-md-12">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Ziyaretçi Haritası</h4>
                            <div class="card-tools">
                                <button class="btn btn-icon btn-link btn-primary btn-xs">
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card">
                                    <span class="fa fa-sync-alt"></span>
                                </button>
                                <button class="btn btn-icon btn-link btn-primary btn-xs">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                        </div>
                        <p class="card-category">
                            Bazı ülkelerden ziyaretçilerimiz
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive table-hover table-sales">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/tr.png"
                                                             alt="turkiye" />
                                                    </div>
                                                </td>
                                                <td>Türkiye</td>
                                                <td class="text-end">2.320</td>
                                                <td class="text-end">42.18%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/us.png"
                                                             alt="united states" />
                                                    </div>
                                                </td>
                                                <td>Amerika</td>
                                                <td class="text-end">240</td>
                                                <td class="text-end">4.36%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/au.png"
                                                             alt="australia" />
                                                    </div>
                                                </td>
                                                <td>Avusturalya</td>
                                                <td class="text-end">119</td>
                                                <td class="text-end">2.16%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/ru.png"
                                                             alt="russia" />
                                                    </div>
                                                </td>
                                                <td>Rusya</td>
                                                <td class="text-end">1.081</td>
                                                <td class="text-end">19.65%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/cn.png"
                                                             alt="china" />
                                                    </div>
                                                </td>
                                                <td>Çin</td>
                                                <td class="text-end">1.100</td>
                                                <td class="text-end">20%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/flags/br.png"
                                                             alt="brazil" />
                                                    </div>
                                                </td>
                                                <td>Brezilya</td>
                                                <td class="text-end">640</td>
                                                <td class="text-end">11.63%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mapcontainer">
                                    <div id="world-map"
                                         class="w-100"
                                         style="height: 300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>