
<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <ul class="nav nav-secondary">
            <li class="nav-item active">
                <a href="/Admin/Dashboard/Index/"
                    <i class="fas fa-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-section">
                <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Sayfalar</h4>
            </li>
            <li class="nav-item">
                <a href="/Admin/About/AboutList/">
                    <i class="fas fa-layer-group"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Class/ClassList/">
                    <i class="fas fa-th-list"></i>
                    <p>Sınıflar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Testimonial/TestimonialList/">
                    <i class="fas fa-pen-square"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Branch/BranchList/">
                    <i class="fas fa-table"></i>
                    <p>Branşlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Contact/ContactList/">
                    <i class="fas fa-table"></i>
                    <p>Mesajlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Service/ServiceList/">
                    <i class="fas fa-table"></i>
                    <p>Hizmetler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Event/EventList/">
                    <i class="fas fa-table"></i>
                    <p>Etkinlikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Team/TeamList/">
                    <i class="fas fa-table"></i>
                    <p>Öğretmenler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Service/ServiceList/">
                    <i class="fas fa-table"></i>
                    <p>Hizmetler</p>
                </a>
            </li>
        </ul>
    </div>
</div>